# CoinMarketCap
CMC_API_KEY=

# CoinGecko (no key needed for free tier, but keep for future)
COINGECKO_API_KEY=

# Azure ADLS
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=

# Ingestion Config
TOP_N_COINS=100
HISTORICAL_DAYS=180

AIRFLOW_UID=50000